
<div class="container">
  <div class="row flex-lg-nowrap">
    <div class="col">
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-body">
              <div class="e-profile">

                <ul class="nav nav-tabs">
                  <li class="nav-item">Settings</li>
                </ul>
                <div class="tab-content pt-3">
                  <div >
                    <form class="form" novalidate="">
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Full Name</label>
                                <p *ngIf="users && users.length > 0">{{users[0].name}}</p>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <div class="cambiarName">
                                <button >
                                  <a  class="nav-link" aria-current="page" routerLink="/cambiarNombre">Cambiar Nombre</a>
                                </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Surname</label>
                                <p *ngIf="users && users.length > 0">{{users[0].surname}}</p>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <div class="cambiarName">
                                  <button >
                                    <a  class="nav-link" aria-current="page" routerLink="/cambiarApellido">Cambiar Apellido</a>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Password</label>
                                <p type="password" placeholder="••••••" *ngIf="users && users.length > 0">{{users[0].password}}</p>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <div class="cambiarName">

                                  <button >
                                    <a class="nav-link" aria-current="page" routerLink="/cambiarContrasenia">Cambiar contraseña</a>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Email</label>
                                <p *ngIf="users && users.length > 0">{{users[0].email}}</p>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>

                      <div class="row">
                        <div class="col d-flex justify-content-end">
                          <button>
                           <a class="nav-link" aria-current="page" (click)="borrarUsuario();">Borrar Usuario</a>
                          </button>
                        </div>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
