.text-end{
  text-align: right!important;
}


body{
  background-color: lightblue!important;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-link{
  color: black!important;
}
.cambiarName {
  transform: translateY(32px);
}
button {
  font-size: 0.9em;
}
label {

  font-weight: bold; /* hace el texto en negrita */
}

