
<div class="container">
  <h2>Robots registrados</h2>

  <table>
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Dispositivo</th>
      <th>Dirección</th>
      <th>Disponibilidad</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of robots">
      <td>{{ user.name }}</td>
      <td>{{ user.description }}</td>
      <td>{{ user.dispositivo }}</td>
      <td>{{ user.direccion }}</td>
      <td *ngIf="user.disponible==0">No Disponible</td>
      <td *ngIf="user.disponible==1">Disponible</td>
      <td *ngIf="admin()" ><button (click)="updateRobotInfo(user.name)">Modificar información</button></td>
      <td *ngIf="admin()" ><button (click)="deleteRobot(user.name)">Borrar robot</button></td>
      <td *ngIf="!admin()" ><button (click)="saveSolicitud(user.name)">Solicitar</button></td>

    </tr>
    </tbody>
  </table>

  <button *ngIf="admin()">
    <a class="nav-link" aria-current="page" routerLink="/createRobot">Registrar Robot</a>
  </button>

</div>
