<div id="body">
    <div class="container">

      <div class ="message success" *ngIf="status == 'success'">
        El usuario se ha creado correctamente
      </div>
      <div class ="message failed" *ngIf="status == 'failed'">
        El usuario no se ha podido crear
      </div>

      <header class="heading"> {{title}}</header>

      <form #usuarioForm="ngForm" (ngSubmit)="addUser(usuarioForm)">
        <div class="row ">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-xs-4">
                <label class="firstname">Nombre :</label>
              </div>
              <div class="col-xs-8">
                <input type="text" name="fname" id="fname" placeholder="Enter your First Name" class="form-control " #name="ngModel" [(ngModel)]="usuario.name">
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-xs-4">
                <label class="lastname">Apellidos :</label>
              </div>
              <div class ="col-xs-8">
                <input type="text" name="name" id="name" placeholder="Enter your Last Name" class="form-control last" #surname="ngModel" [(ngModel)]="usuario.surname " >
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="row">
              <div class="col-xs-4">
                <label class="mail" >Email :</label>
              </div>
              <div class="col-xs-8"	>
                <input type="email" name="email"  id="email"placeholder="Enter your email" class="form-control"  #email="ngModel" [(ngModel)]="usuario.email">
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="row">
              <div class="col-xs-4">
                <label class="pass">Password :</label>
              </div>
              <div class="col-xs-8">
                <input type="password" name="password" id="password" placeholder="Enter your Password" class="form-control" #password="ngModel" [(ngModel)]="usuario.password ">
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Enviar </button>
          </div>

        </div>
      </form>
      <div class="mt-3 card-footer d-flex justify-content-center links" id="id"> ¿Tienes una cuenta?<a routerLink="" (click)="toggleHTML();">Iniciar Sesión</a></div>
    </div>
</div>
