
<div class="container">
  <div class="row flex-lg-nowrap">
    <div class="col">
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-body">
              <div class="e-profile">

                <ul class="nav nav-tabs">
                  <li class="nav-item"><strong><span class="bold-and-large">Detalles del robot</span></strong></li>

                </ul>
                <div class="tab-content pt-3">
                  <div >
                    <form class="form" novalidate="">
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Nombre</label>
                                <p *ngIf="robots && robots.length > 0">{{robots[0].name}}</p>
                              </div>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Descripción</label>
                                <p *ngIf="robots && robots.length > 0">{{robots[0].description}}</p>
                              </div>
                            </div>

                          </div>

                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Dispositivo</label>
                                <p  *ngIf="robots && robots.length > 0">{{robots[0].dispositivo}}</p>
                              </div>
                            </div>

                          </div>

                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Direccion</label>
                                <p *ngIf="robots && robots.length > 0">{{robots[0].direccion}}</p>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Disponibilidad</label>
                                <p  *ngIf="robots && robots.length > 0">{{robots[0].disponible}}</p>

                              </div>
                            </div>

                          </div>

                        </div>
                      </div>


                    </form>

                    <button (click)="changeDetails(robots[0].name)">Cambiar Detalles</button>
                    <button (click)="changeAvailability(robots[0])">Cambiar Disponibilidad</button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

