

<div class="container">
  <div class="row flex-lg-nowrap">
    <div class="col">
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-body">
              <div class="e-profile">

                <ul class="nav nav-tabs">
                  <li class="nav-item"><strong><span class="bold-and-large">Detalles de la incidencia</span></strong></li>

                </ul>
                <div class="tab-content pt-3">
                  <div >
                    <form class="form" novalidate="">
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Nombre</label>
                                <p *ngIf="myIncidencias && myIncidencias.length > 0">{{myIncidencias[0].Nombre}}</p>
                              </div>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Fecha de creación</label>
                                <p *ngIf="myIncidencias && myIncidencias.length > 0">{{myIncidencias[0].Fecha | date: 'dd MMMM yyyy, HH:mm'}}</p>
                              </div>
                            </div>

                          </div>

                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Descripción</label>
                                <p  *ngIf="myIncidencias && myIncidencias.length > 0">{{myIncidencias[0].Description}}</p>
                              </div>
                            </div>

                          </div>



                        </div>
                      </div>


                    </form>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

