<html>
<head>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
</head>


<body id="LoginForm">

<ng-container *ngIf="!loggedIn(); else elseBlock">

<div class="container" >
  <h1 class="form-heading">Veotest plus</h1>
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2>User Login</h2>
        <p>Por favor introduzca su email y contraseña</p>
      </div>
      <div class ="message success" *ngIf="status == 'success'">
      </div>
      <div class ="message failed" *ngIf="status == 'failed'">
        Error, datos introducidos erróneas
      </div>
      <form id="Login" #loggearseForm="ngForm" (ngSubmit)="login(loggearseForm); ">

        <div class="form-group" >


          <input type="text" name="email" #email="ngModel" [(ngModel)]="usuario.email" class="form-control" id="inputEmail" placeholder="Email Address">

        </div>

        <div class="form-group" >

          <input type="password" name="password" #password="ngModel" [(ngModel)]="usuario.password" class="form-control" id="inputPassword" placeholder="Password">

        </div>
        <div (click)="toggleHTML();" class="forgot">
          <a routerLink="create-user">Registrarme</a>
        </div>


        <button type="submit" class="btn btn-primary">Iniciar sesión</button>


      </form>
    </div>
    <p class="botto-text"> Domain of NTT DATA</p>
  </div>
</div>
</ng-container>
<ng-template  #elseBlock>

  <div class="container2" >
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-2 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">

          <img src="./assets/icons/Veotest_icon.png" height="60">
          <span class="fs-4">VeoTest Plus</span>

      </div>

      <div class="usuario">
        <button >
          <a class="nav-link" aria-current="page" routerLink="/usuarios">Usuarios</a>
        </button>
      </div>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-secondary me-2">
          <a class="nav-link" aria-current="page" routerLink="/profile-user">Perfil</a>
        </button>
        <button type="button" class="btn btn-secondary">

          <a class="nav-link" aria-current="page" (click)="deleteToken();">Cerrar sesión</a>
        </button>
      </div>
    </header>

  </div>

</ng-template>
</body>




</html>

<router-outlet></router-outlet>



