
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<html>
<head>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
</head>


<body id="LoginForm">
<div class="container" >
  <h1 class="form-heading">Veotest plus</h1>
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2>User Login</h2>
        <p>Por favor introduzca su email y contraseña</p>
      </div>
      <form id="Login" #loggearseForm="ngForm" (ngSubmit)="login(loggearseForm);">

        <div class="form-group" >


          <input type="text" name="email" #email="ngModel" [(ngModel)]="usuario.email" class="form-control" id="inputEmail" placeholder="Email Address">

        </div>

        <div class="form-group" >

          <input type="password" name="password" #password="ngModel" [(ngModel)]="usuario.password" class="form-control" id="inputPassword" placeholder="Password">

        </div>
        <div (click)="toggleHTML();" class="forgot">
          <a routerLink="create-user">Registrarme</a>
        </div>


        <button type="submit" class="btn btn-primary">Iniciar sesión</button>


      </form>
    </div>
    <p class="botto-text"> Domain of NTT DATA</p>
  </div></div>


</body>

<section class="container" id="contenedor">
  <router-outlet></router-outlet>
</section>

</html>





