
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Veotest plus</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

</head>
<body class="text-center gradient-background">

<ng-container *ngIf="!loggedIn(); else elseBlock">
<div class="container" >
  <nav class="navbar navbar-dark ">
    <a class="navbar-brand">
      <strong> VeoTest plus</strong>
    </a>
  </nav>
</div>
<div class="container">

  <div class ="message failed" *ngIf="status == 'failed'">
    Error, datos introducidos erróneos
  </div>

  <form class="form-signin " id="Login" #loggearseForm="ngForm" (ngSubmit)="login(loggearseForm); ">

    <h1 class="h3 mb-3 font-weight-normal heading ">Iniciar Sesión</h1>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="" name="email" #email="ngModel"  [(ngModel)]="usuario.email">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password" #password="ngModel" [(ngModel)]="usuario.password">
    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Entrar</button>

    <div class=" mt-3 card-footer d-flex justify-content-center links" >
      <a routerLink="create-user" (click)="toggleHTML();">Registrarme</a>
    </div>
    <p class="mt-2 mb-3 text-muted">© NTT Data</p>

  </form>
</div>
</ng-container>
<ng-template  #elseBlock>

  <div class="container2"  >
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-2 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">

        <img src="./assets/icons/Veotest_icon.png" height="60">
        <span class="fs-4">VeoTest Plus</span>

      </div>

      <div class="usuario">
        <button >
          <a class="nav-link" aria-current="page" routerLink="/usuarios">Usuarios</a>
        </button>
        <button id ="robot">
          <a class="nav-link" aria-current="page" routerLink="/robots">Robots</a>
        </button>
        <button *ngIf="!admin()" >
          <a class="nav-link" aria-current="page" routerLink="/keys">Clave</a>
        </button>
        <button >
          <a class="nav-link" aria-current="page" routerLink="/solicitudes">Solicitudes</a>
        </button>
        <button *ngIf="admin()">
          <a class="nav-link" aria-current="page" routerLink="/deleteAdmin">Borrar Usuario</a>
        </button>
        <button >
          <a class="nav-link" aria-current="page" routerLink="/incidencias">Incidencias</a>
        </button>
      </div>




      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-secondary me-2">
          <a class="nav-link" aria-current="page" routerLink="/profile-user">Perfil</a>
        </button>
        <button type="button" class="btn btn-secondary">

          <a class="nav-link" aria-current="page" (click)="deleteToken();">Cerrar sesión</a>
        </button>
      </div>
    </header>


  </div>

</ng-template>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</body>
</html>

<router-outlet></router-outlet>
